.accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px 0;
  font-size: 1.125rem;
  width: 100%;

  &__collection {
    margin: 1.25em auto;
    max-width: 815px;
  }

  &__header {
    padding: 0.85em 2.2em 0.85em 1.2em;
    margin-bottom: 1px;
    font-weight: 400;
    position: relative;
    display: flex;
    text-align: left;
    background: $gray-bg;
    align-items: center;

    &::after {
      content: "\002B";
      font-size: 1.5rem;
      position: absolute;
      right: 1em;
    }

    &.active::after {
      transform: rotate(45deg);
    }
  }

  &__question {
    font-size: 1.125rem;
  }

  &__title {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.625rem;
    line-height: 1.1;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  &__item {
    margin: 0 0 8px 0;
    width: 100%;
    cursor: pointer;
  }

  &__body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  &__content {
    text-align: left;
    padding: 1.2em;
    background: $gray-bg;
    color: $white-clr;
    max-height: 1200px;
    transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  }
}
