.btn {
  background: $red-bg100;
  color: $white-clr;
  font-size: 1rem;
  cursor: pointer;

  &--rounded {
    background: $red-bg100;
    font-size: 0.9rem;
    padding: 7px 12px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &--large {
    margin: 10px auto;
    padding: 0.7rem 1.3rem;
    height: 43px;
    width: 116px;
    font-weight: 500;
    background-color: $red-bg200;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
    &:hover {
      background-color: #e50914;
      background-image: linear-gradient(to bottom, #e50914, #db0510);
    }
  }
}
