.cardDevices {
  position: relative;
  max-width: 600px;
  margin-top: 1rem;
  width: 100%;

  @include respond(bigScreen) {
    width: 48%;
  }

  &__imgBox {
    margin: -5% 0 0 0;
    position: relative;
  }

  &__img {
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    @include respond(tablet) {
      margin: 0 7%;
    }
  }

  &__videoBox {
    width: 100%;
    height: 100%;
    max-width: 63%;
    max-height: 47%;
    position: absolute;
    top: 12%;
    left: 19%;

    @include respond(tablet) {
      left: 26%;
    }
  }

  &__video {
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
