.footer {
  max-width: 1000px;
  color: $gray-clr200;
  margin: 0 auto;
  @include respond(minScreen) {
    padding-bottom: 0;
  }

  &__content {
    width: 90%;
    margin: 0 auto;
    font-size: 13px;

    @include respond(minScreen) {
      padding-bottom: 1.25rem;
    }
  }

  &__information {
    font-size: 1rem;
    padding: 0;
    margin: 0 0 1.875rem;
    @include respond(minScreen) {
      font-weight: 100;
      margin-bottom: 1.5rem;
    }
  }

  &__linkItems {
    width: 100%;
    margin: 0 auto;
  }

  &__item {
    width: 32%;
    margin-bottom: 1rem;
    display: inline-block;
    padding-right: 0.75rem;
    vertical-align: top;

    @include respond(tablet) {
      width: 24%;
    }
  }

  &__link {
    color: $gray-clr200;
    font-size: 0.8125rem;
    &:hover {
      text-decoration: underline;
    }
  }

  &__language {
    margin-top: 1.25rem;
  }

  &__languageBlock {
    display: inline-block;
    position: relative;
  }

  &__languageSelection {
    text-indent: 0;
    line-height: 1.7;
    background-color: $dark-bg;
    border: 1px solid #333;
    color: #999;
    font-size: 0.8rem;
    padding: 0.5rem 0.5rem 0.5rem 1.3rem;

    @include respond(bigScreen) {
      padding: 1rem 0.625rem 1rem 2.5rem;
      font-size: 0.9rem;
    }
    // @include respond() {
    //   padding: 0.8rem 0.5rem 0.8rem 1.5rem;
    //   font-size: 0.9rem;
    // }
  }
  &__iconGlobe {
    font-size: 0.7rem;
    position: absolute;
    color: #999;
    top: 0.7rem;
    pointer-events: none;
    margin-left: 0.625rem;
    @include respond(bigScreen) {
      font-size: 1rem;
      top: 1.125rem;
    }
  }

  &__iconCaret {
    position: absolute;
    top: 0.58rem;
    right: 0.35rem;

    font-size: 0.9375rem;
    color: #999;
    pointer-events: none;
    @include respond(bigScreen) {
      top: 1.125rem;
      right: 0.3125rem;
    }
  }

  &__country {
    margin-top: 1.5rem;
    font-size: 0.8125rem;
    @include respond(minScreen) {
      padding-bottom: 0.5rem;
    }
  }
}
