.header {
  max-height: 50px;
  background-color: transparent;
  position: relative;
  margin: 0 auto;
  padding-top: 25px;
  margin: 0 5%;

  &__container {
    width: 100%;
    position: absolute;
    z-index: 22;
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    width: 88.8px;
    height: 24px;
  }
}
